/* TAG */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  width: 100%;
  height: 92px;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
}

ul{
  list-style: none;
  text-align: center;
  line-height: 90px;
}

li{
  display: inline-block;
  position: relative;
  z-index: 2;
}

a{
  color: rgb(0,16,38);
  text-decoration: none;
  text-align: center;
}

/* CLASS */
img.logo{
  height: 88px;
  vertical-align: middle;
}

li:not(:first-child){
  width: 110px;
}

li:hover a{
  background-color: rgb(35,222,86);
}

img.nav{
  width: 120px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: -1;
}

li:hover img.nav{
  display: block;
  opacity: 50%;
}

.city{
  color: rgb(29,223,83);
  font-size: 80px;
  text-shadow: 10px 10px 5px rgb(0,16,38);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.bg{
  height: calc(100vh - 92px);
  position: relative;
  z-index: -2;
}

.bg#gardena{
  margin-top: 92px;
}

.offset{
  position: absolute;
  bottom: calc(100% + 92px);
}

/* ID */
#gardena{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/04/17/56/dolomites-2580866__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#firenze{
  background-image: url(https://cdn.pixabay.com/photo/2015/11/27/20/28/arno-river-1066307__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#londra{
  background-image: url(https://cdn.pixabay.com/photo/2015/09/18/11/47/london-eye-945497__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#yosemite{
  background-image: url(https://cdn.pixabay.com/photo/2016/08/12/23/47/yosemite-1590013__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#tokyo{
  background-image: url(https://cdn.pixabay.com/photo/2017/10/01/13/27/tokyo-2805500__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
